<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<h1>자유게시판</h1>

<form action="/board/regist" method="post" encType="multipart/form-data">
    ID : <input type="text" name="id"><br>
    제목 : <input type="text" name="title"><br>
    내용 : <input type="text" name="content"><br>
    파일 : <input type="file" name="singleFile"><br>
        파일 설명 : <input type="text" name="singleFileDescription"><br>
    <input type="submit" value="등록하기">
    </form>

</form>
</body>
</html>